doctype html
html
  head
    title EZL
    link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/childcss/home.css')
    link(rel='stylesheet', href='/stylesheets/childcss/header_main.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/bootstrap/bootstrap.min.js")
    script(src="/javascripts/childjs/home.js")

  body
    include header_main
    .container
      #teacherInfos
        each val,index in data
          .teacherCard
            .avatar
              p avatar
            .basicInfos
              p.name=val.profile.name
              p.school=val.profile.school
              p.major=val.profile.major
              p.special=val.profile.speical
              p.rating=val.rating
            .tags
              each v,i in val.tags
                button.btn.btn-info v
            .introduction
              p=val.profile.introduction
            .certifications
              p certifications1,2,3
